<div class="row pt-5">
  <div class="col-8 mx-auto">
    <div class="card text-center">
      <div class="card-body">
        <div class="card-header">
          <div class="form-group">
            <div><label>Title of task:</label></div>
            <div class="w-100">
              <input style="min-width: 100%;" name="name" class="card-title mw-100" [(ngModel)]="task.title" placeholder="Title of task"></div>
            <div><label class="text-danger" *ngIf="!isValidTask">Title is empty!</label></div>
          </div>
        </div>
        <div class="card-body">
          <div><label>Description:</label></div>
          <div><textarea style="min-width: 100%;" name="description" class="card-text" [(ngModel)]="task.description" rows="5"
                         placeholder="..."></textarea></div>
          <div>
            <select name="selectedState" id="state" class="btn btn-secondary dropdown-toggle" [(ngModel)]="currentState">
              <option *ngFor="let state of states" [value]="state">{{state}}</option>
            </select>
          </div>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-primary float-right mr-2" (click)="addTask()">save</button>
            <button class="btn btn-dark float-right mr-2" (click)="cancel()">cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
