<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card text-center">
      <div class="card-body">
        <div class="card-header">
          <div><label>Title of task:</label></div>
          <div><input name="name" style="min-width: 100%;" class="card-title" [(ngModel)]="task.title"></div>
        </div>
        <div class="card-body w-auto">
          <div><label>Description:</label></div>
          <div><textarea style="min-width: 100%;"  class="card-text"  type="text" name="description" [(ngModel)]="task.description"></textarea></div>
        </div>
        <div class="card-footer row">
          <div class="col ">
            <button class="btn btn-success" (click)="editTask()">save</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="deleteTask()">delete</button>
          </div>
          <div class="col">
            <button class="btn btn-dark" (click)="cancel()">cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
